<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(235 229 215 / 90%)">
    <div class="container">
        <a class="navbar-brand custom-brand" href="{% url 'home' %}">BurguerApp</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'user_profile' %}">Perfil</a></li>
                            {% if user.is_staff %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'catalog_BurguerApp:product_list' %}">Acesso ao Sistema</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'auth_BurguerApp:logout_view' %}">Sair</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url 'auth_BurguerApp:login_view' %}">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'register' %}active{% endif %}" href="{% url 'auth_BurguerApp:register_view' %}">Registrar</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<style>
    
.navbar-dark .navbar-nav .nav-link {
    color: #FB4937; 
    background-color: transparent !important; 
    text-decoration: none; 
    padding: 0.5rem 1rem; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.btn-outline-primary::hover {
    background: transparent;
}


.navbar-dark .navbar-nav .nav-link:hover {
   background-color: rgb(235 209 215 / 90%);
    color: white; 
}


.navbar-dark .navbar-nav .nav-link:hover {
    color: #FF6347; 
}
    .custom-brand {
        color: #131313;
        text-decoration: none; 
        transition: color 0.3s ease; 
    }

    .custom-brand:hover {
        color: #ff6347; 
    }

    .navbar-dark .navbar-nav .nav-link:hover {
        color: black; 
        
    }

    
    .navbar-dark .navbar-toggler {
        
    }

    .navbar-dark .navbar-toggler-icon {
        color: #FB4937; 
    }
</style>
