{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    {% include 'includes/layout/head.html' %}
    {% block 'css' %}{% endblock %}
    <title>Burguer - {% block 'titulo' %}Título Padrão{% endblock %}</title>
  </head>
  <body>
    {% include 'includes/layout/navbar_public.html' %}
    
    {% include 'includes/widgets/cart.html' %}
    {% include 'includes/layout/tabs_admin.html' %}
    
    <div class="container mt-4">
      {% block 'content' %}Conteúdo Padrão{% endblock %}
    </div>
    
    {% include 'includes/layout/footer.html' %}
    {% include 'includes/layout/scripts.html' %}
    {% block 'scripts' %}{% endblock %}
  </body>
</html>
